packages:
  yum:
    gcc: []
    python3-devel: []
    python3-numpy: []
    python3-opencv-headless: []

commands:
  01-pip-install:
    command: "pip install -r requirements.txt"
  02-install-opencv:
    command: "yum install -y opencv-python-headless"
  03-install-pillow:
    command: "pip install Pillow"
  04-install-numpy:
    command: "pip install numpy"